.main{
    height: 100%;
}
mat-sidenav-container{
    height: 100%;
}
mat-sidenav-content{
    height: 100%;
}
.mat-toolbar{
    background-color: #145448;
    /* background-color: #4b9385; */
    color: #fff;
}

.mat-list-item{
    color: #ffffff;
}
.mat-button{
    color: #ffffff;
}
.dp-black{
    color: #000000;
}
.dp-icon{
    color: #ffffff;
}
a.active{
    background-color: #145448 !important;
    color: #ffffff;
  }

.mat-drawer{
    background-color: #4b9385;
}

.img-fluid{
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

mat-sidenav {
    width: 200px;
  }

.mat-dialog-container{
    padding: 0;
}

.rounded-circle{
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
