.bg {
    background-image: url("../../assets/error-404.png");
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}