
.profile{
    height: 200px;
    width: 200px;
}
.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
    width: 200px;
    background-color: #4b9385;
  }


  .card{
      height: 580px;
  }
  .full-width{
      width: 100%;
  }