table{
    width: 100%;
}

.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

.edit{
    color: #fca130;
}

.delete-icon{
    color:  red;
}

.full-width{
    width: 100%;
}

.add{
    background-color: #49cc90;
    color: #fff;
    height: 40px;
}

.delete{
    background-color: red;
    color: #fff;
    height: 40px;
}

.mat-row:hover .mat-cell{
    background-color: #dcdcdc;
    cursor: pointer;
}