<div class="body container">
    <div class="row">
        <div class ="col-12">
            <div class="d-flex justify-content-between">
                <h4 mat-dialog-title *ngIf="actionBtn === 'Save' else elseUpdate">Chart of Accounts</h4>
                <ng-template #elseUpdate>
                    <h4 mat-dialog-title>Chart of Accounts</h4>
                </ng-template>
                <mat-icon mat-dialog-close click>close</mat-icon>
            </div>
            <mat-dialog-content>
                <form [formGroup]="chartofAccountsForm">
                    <mat-form-field class="full-width" floatLabel="always" appearance="outline" [hidden]="true">
                        <mat-label>Id</mat-label>
                        <input matInput type="text" formControlName="id">
                    </mat-form-field>
                    <mat-form-field class="full-width" floatLabel="always" appearance="outline" [hidden]="true">
                        <mat-label>Group Id</mat-label>
                        <input matInput type="text" formControlName="groupId">
                    </mat-form-field>
                    <mat-form-field class="full-width" floatLabel="always" appearance="outline">
                        <mat-label>Classification</mat-label>
                        <mat-select (selectionChange)="selectedClassification($event)" formControlName="classificationId" >
                          <mat-option *ngFor="let item of dataClassification" [value]="item.id">
                            {{item.nameClassification}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width" floatLabel="always" appearance="outline">
                        <mat-label>Sub-classification</mat-label>
                        <mat-select (selectionChange)="selectedSubClassification($event)" formControlName="subClassificationId" >
                          <mat-option *ngFor="let item of dataSubClassification" [value]="item.id">
                            {{item.nameSubClassification}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width" floatLabel="always" appearance="outline">
                        <mat-label>Group</mat-label>
                        <mat-select (selectionChange)="selectedGroupClassifcation($event)" formControlName="classificationGroupId" >
                          <mat-option *ngFor="let item of dataGroupClassification" [value]="item.id">
                            {{item.nameGroupClassification}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width" floatLabel="always" appearance="outline">
                        <mat-label>Object Code</mat-label>
                        <input matInput type="text" formControlName="objectCode" cdkFocusInitial>
                    </mat-form-field>
                    <mat-form-field class="full-width" floatLabel="always" appearance="outline">
                        <mat-label>UACS</mat-label>
                        <input matInput type="text" formControlName="accountCode" cdkFocusInitial>
                    </mat-form-field>
                    <section class="example-section">
                        <mat-checkbox class="example-margin" formControlName="isActive" (change)="checkstatus($event)">Active</mat-checkbox>
                    </section>
                    <section class="example-section">
                        <mat-checkbox class="example-margin" formControlName="isPartofInventroy" (change)="checkstatus($event)">Part of Inventory</mat-checkbox>
                    </section>
                    <div class="d-flex flex-row-reverse button-row">
                        <button mat-raised-button color="warn" class="button" (click)="clearChartofAccounts()">
                            <mat-icon>clear_all</mat-icon>Clear</button>
                        <button mat-raised-button color="primary" class="button" (click)="addChartofAccounts()" [disabled]="chartofAccountsForm.invalid">
                            <mat-icon>check_circle_outline</mat-icon>
                            {{actionBtn}}
                            </button>
                    </div>
                </form>
            </mat-dialog-content>
        </div>
    </div>
</div>