<div class="container-fluid pb-5">
    <mat-toolbar  class="my-3">
        <mat-toolbar-row class="d-flex justify-content-center">
        <h1>Funds</h1>  
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="container-fluid">
        <div class="row d-flex">
          <div class="flex-grow-1 p-2">
            <form>
                <div class="row">
                    <div class="col-2">
                        <mat-form-field class="full-width">
                            <mat-label>Filter</mat-label>
                            <mat-select (selectionChange)="selectedType($event)">
                                <mat-option *ngFor="let items of filter" [value]="items.value">
                                    {{items.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-10">
                        <mat-form-field class="full-width">
                            <mat-label>Search</mat-label>
                            <input type="text" placeholder="Funds" matInput [formControl]="searchControl"
                            [matAutocomplete]="auto" (input)="valueChange()">
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayFn">
                              <mat-option *ngFor="let option of dataSource | async" [value]="option">
                                {{option.fundCategory}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </form>
          </div>
          <div class="bd-highlight p-2">
            <div class="button-row ">
              <button mat-raised-button class="add" (click)="openDialog()"
                matTooltip="Click to add funds">
                <mat-icon>add</mat-icon> CREATE
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mat-elevation-z8">
            <mat-table [dataSource]="funds">
  
                <ng-container matColumnDef="fund">
                  <mat-header-cell *matHeaderCellDef>Fund</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.generalFundSource.name}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="code">
                  <mat-header-cell *matHeaderCellDef > Code </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="financingSource">
                    <mat-header-cell *matHeaderCellDef> Financing Source </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.financingSource.financingSourceName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="authorization">
                    <mat-header-cell *matHeaderCellDef> Authorization </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.authorization.authorizationName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fundCategory">
                    <mat-header-cell  *matHeaderCellDef> Fund Category </mat-header-cell>
                    <mat-cell  *matCellDef="let element"> {{element.fundCategory}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="active">
                  <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                  <mat-cell *matCellDef="let element"><mat-checkbox [checked]="element.isActive" [disabled]="true"></mat-checkbox></mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="editFunds(element)" 
                      matTooltip="Click to edit this data">
                      <mat-icon class="edit-icon">edit</mat-icon>
                    </button>
                    <!-- <button mat-icon-button (click)="deleteFunds(element)"
                      matTooltip="Click to delete this data">
                      <mat-icon class="delete-icon">delete</mat-icon>
                    </button> -->
                  </mat-cell>
                </ng-container>
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
  
              <mat-paginator  [length]="fundsObject?.count"
                              [pageSizeOptions]="[5, 10, 20]"
                              (page)="pageEvent = $event; onPaginateChange($event)"
                              showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
</div>
