<router-outlet></router-outlet>


<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon  (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1>Enhance Asset Management System</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="../Dashboard">Dashboard</a>
            <a mat-list-item routerLink="../Masterfile/Supplier" >Supplier</a>
            <a mat-list-item>AsssetClass</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->