<div class="body container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <h4 mat-dialog-title *ngIf="actionBtn === 'Save' else elseUpdate">Procurement Category</h4>
                <ng-template #elseUpdate>
                    <h4 mat-dialog-title>Procurement Category</h4>
                </ng-template>
                <mat-icon mat-dialog-close click>close</mat-icon>
            </div>
    
            <mat-dialog-content>
                <form [formGroup]="categoryForm">
                    <mat-form-field class="full-width" floatLabel="always" [hidden]="true">
                        <mat-label>Id</mat-label>
                        <input matInput type="text" formControlName="id">
                    </mat-form-field>

                    <div class="d-flex">
                        <section>
                            <mat-checkbox class="example-margin" formControlName="isActive" color="primary" (change)="checkActive($event)">Active</mat-checkbox>
                        </section>
                    </div>

                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Category Description</mat-label>
                        <input matInput type="text" formControlName="procurementDescription" cdkFocusInitial>
                        <mat-error *ngIf="categoryForm.invalid">{{getProcurementDescErrorMessage()}}</mat-error>
                    </mat-form-field>
                    
                    <div class="d-flex flex-row-reverse button-row">
                        <button mat-raised-button color="warn" class="button" (click)="clearCategory()">
                            <mat-icon>clear_all</mat-icon>Clear</button>
                        <button mat-raised-button color="primary" class="button" (click)="addCategory()" [disabled]="categoryForm.invalid">
                            <mat-icon>check_circle_outline</mat-icon>
                            {{actionBtn}}
                            </button>
                    </div>
                </form>
            </mat-dialog-content>
        </div>
    </div>
</div>



