<div class="container pb-5">
  <mat-toolbar class="my-3">
    <mat-toolbar-row class="d-flex justify-content-center">
      <h1>Environmental Aspects</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <div class="row d-flex">
      <div class="flex-grow-1 p-2">
        <form>
          <mat-form-field class="full-width">
            <mat-label>Search</mat-label>
            <input type="text" placeholder="Aspects Description" matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </div>
      <div class="bd-highlight p-2">
        <div class="button-row">
          <button mat-raised-button class="add"
            matTooltip="Click to add aspects">
          <mat-icon>add</mat-icon> CREATE
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource?.items">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
            <mat-cell *matCellDef="let element; index as i">{{i+1}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.aspectDescription}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button matTooltip="Click to edit">
                <mat-icon class="edit">edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Click to delete">
                <mat-icon class="delete-icon">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="dataSource?.count"
                        [pageSizeOptions]="[5, 10, 20]"
                        (page)="pageEvent = $event; onPaginateChange($event)"
                        showFirstLastButtons>

        </mat-paginator>
      </div>
    </div>
  </div>
</div>